#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.users {
  max-width: 90vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 3rem auto;
  text-decoration: none;
  background-color: green;
  border-radius: 4rem;
}

.users:hover {
  background-color: red;
}

.users img {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.users-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.users-info {
  text-align: start;
}
